.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    z-index: 9999; /* Valor alto para garantir que esteja na frente de tudo */
}

.popup-content {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-content img {
    max-width: 100%;
    max-height: 80vh; /* Ajuste conforme necessário para a altura desejada */
}

.popup-close-button {
    background-color: #fd0000;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}


/* Adicione regras de mídia para telas menores que 600px */
@media screen and (max-width: 600px) {
    .popup-content img {
        max-height: 60vh; /* Ajuste conforme necessário para a altura desejada em telas menores que 600px */
    }
}

/* Adicione regras de mídia para telas entre 600px e 920px */
@media screen and (min-width: 601px) and (max-width: 920px) {
    .popup-content img {
        max-height: 70vh; /* Ajuste conforme necessário para a altura desejada em telas entre 600px e 920px */
    }
}

/* Adicione regras de mídia para telas maiores que 920px */
@media screen and (min-width: 921px) {
    .popup-content img {
        max-height: 80vh; /* Ajuste conforme necessário para a altura desejada em telas maiores que 920px */
    }
}